.login-error {
    color: red;
    list-style-type: none;
}

.demo-link {
    cursor: pointer;
}

.login_button {
    cursor: pointer;
}

.login_button:hover {
    background-color: aquamarine;
    cursor: pointer;
}