/* Index */
.hidden {
  display: none;
}

.logo {
  width: 30px;
  height: auto;

}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.nav {
  display: flex;
  align-items: center;
}

.icon-item {
  margin-right: 10px;
  cursor: pointer;
  color: rgb(197, 191, 191);
}

.icon-item:last-child {
  margin-right: 5px;
}


.search-bar {
  margin-left: 20px;
}

.search-bar input {
  height: 30px;
  width: 200px;
  border-radius: 10px;
  border: none;
  color: black;
}

.search-bar button {
  display: none;
}

.nav1 {
  display: flex;
  align-items: center;
}

/* Profile Button */

.profile-container {
  display: flex;
  align-items: center;
}

.profile-dropdown {
  position: absolute;
  transform: translateX(730%);
  top: calc(4% + 5px);
  left: 0;
  min-width: 100px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: white;
  border: none;
  font-weight: bold;
}

.user-options.div {
  color: black;
}

.user-like a,
.user-follow a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.user-logout {
  cursor: pointer;
}


.Cred {
  background-color: #00cf35;
  color: black;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  border: none;
  font-weight: bold;
}

.Login-modal-button,
.signup-modal-button {
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
}


.logo-login {
  color: rgb(197, 191, 191);
  margin-right: 10px;
  cursor: pointer;
}


.create-but {
  background: rgb(0, 174, 255); 
  border: none;
  cursor: pointer;
  width: 50px;
  height: 20px;
}
