.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.post-index-all {
    display:flex; 
    flex-direction:column;
    width: 614px;
    padding-top: 40px;
    height: auto;
    gap: 40px;
    border-top: 1px gray solid;
}

.posts_option_tab {
    display: flex;
    width: 614px;
}

.following_tab {
    padding-right: 40px;
    padding-left: 120px;
}

.foryou_following_tabs {
    display: flex;
}