.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.post-index-all {
    display: flex;
    flex-direction: column;
    width: 614px;
    padding-top: 40px;
    height: auto;
    gap: 40px;
}

.no_search_result {
    color: white;
}

.landing-page-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 614px;
    padding-top: 40px;
    height: auto;
    gap: 40px;
}

.login-and-signup {
    display: flex;
    flex-direction: column;
}

.home-button {
    /* border: 1px red solid; */
    cursor: pointer;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 20%;
    width: 400px;
    font-size: large;
    background-color: lightblue;
}


.tumblr-description {
    font-size: 14px;
    line-height: 2;
    color: white;
    text-align: justify;
    margin: 10px 0px;
}

.tumblr-title {
    color: white;
    align-items: flex;
    justify-content: center;
    align-items: center;
}

.get-started {
    cursor: pointer;
    height: 50px;
    width: 400px;
    margin-bottom: 10px;
    margin-right: 20%;
    font-size: large;
    background-color: white;
}

.posts_option_tab {
    display: flex;
    width: 614px;
}

.foryou_tab {
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.following_tab {
    padding-right: 40px;
    padding-left: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.foryou_tab:hover,
.following_tab:hover {
    color: #00BFFF;
}



.foryou_following_tabs {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    border-bottom: 5px;
    border-bottom: 1px gray solid;
}
