@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

/*
@keyframes colorChange {
    0% {
        background-color: #009aff;
    }

    50% {
        background-color: #005a82;
        /* A darker shade of blue */
    /* } */

    /* 100% {
        background-color: #009aff;
    } */
/* } */


/* html {
    background-color: #009aff;
    animation: colorChange 5s infinite;
} */

html {
    background: linear-gradient(135deg, #054166, #0075b8);
}
