.post-index-item {
    display: flex;
    flex-direction: column;
    place-self: center;
    /* min-width: 340px;
    max-width: 500px; */
    width: 100%;
    max-height: auto;
    border-radius: 5px;
    background-color: lightgray;
}

.post-index-item-wrapper {
    display: grid;
    max-width: 614px;
    min-width: 614px;
    grid-template-columns: 1fr 10fr;
    gap: 20px;
}

.post-index-item img {
    max-width: 100%;
    min-width: 100%;
    max-height: auto;
    min-height: 20%;
}

.postItem-title-bar {
    text-decoration: none;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.title-bar-username {
    padding-left: 18px;
}

.title-bar-follow {
    padding-left: 10px;
}

.follow-but,
.unfollow-but {
    background-color: transparent;
    color: rgb(0, 161, 214);
    /* Add your desired text color here */
    border: none;
    cursor: pointer;
    font-size: 10px;
}

.follow-but:hover,
.unfollow-but:hover {
    color: #1E90FF
}

.post-index-item-menu {
    padding-right: 20px;
}

.post-item-content {
    padding-left: 20px;
}

.postItem-tail-bar {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.avatar-area {
    width: 100px;
    height: 100px;
}

.tiny-image {
    width: 80px;
    height: 80px;
}

.post-item-notes {
    padding-left: 20px;
}

.post-index-item-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.post-index-item-icons svg {
    padding-left: 10px;
}

.tail-bar-notes {
    cursor: pointer;
}

.post-index-comment-area-header {
    padding-left: 10%;
    padding-right: 10%;
    border-top: 1px gray solid;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px grey solid;
}

.post-index-comment-area-header svg {
    padding-left: 40px;
    padding-right: 5px;
}

.post-index-comment-area {
    height: 500px;
    width: 100%;
}



.postItem-comment {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    gap: 20px;
    padding-top: 20px;
}

.comment-form-wrapper {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 20px;
    padding-top: 20px;
}

.comment-form-wrapper form {
    display: flex;
}

.postItem-like {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 20px;
    padding-top: 20px;
}

.postitem-delete-edit-wrapper {
    direction: rtl;
}

.postitem-delete-edit-wrapper svg {
    padding-right: 20px;
}

.comment-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.scrolldown-right {
    height: 400px;
    overflow-y: auto;
}

.comment-error {
    color: red;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.comment-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.unused-but {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.comment-reply {
    background-color: #1E90FF;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.comment-reply:hover {
    background-color: #00BFFF;
}


.comment-submit {
    border: none;
    border-bottom: 2px solid #1E90FF;
    padding: 5px 10px;
    font-size: 16px;
    color: #1E90FF;
    border-radius: 5px;
    height: 35px;
    outline: none;
    transition: border-color 0.3s ease;
}

.comment-submit::placeholder {
    color: #A9A9A9;
}

.comment-submit:focus {
    border-color: #00BFFF;
}

.comment-tiny-image {
    width: 30px;
    height: 60px;
    object-fit: cover;
    border-radius: 20%;
    margin-left: 10px;
}
